<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>blog-forum-javaweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>com.zyw.filter.CharsetFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PowerFilter</filter-name>
    <filter-class>com.zyw.filter.PowerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/article/article_search.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/article/article_mine.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/image/image_mine.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/audio/audio_mine.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/video/video_mine.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/article/article_send.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/image/image_send.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/audio/audio_send.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/video/video_send.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/game/game_ggl.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/game/game_dzp.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/message/message_main.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/message/message_update.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/ArticleAdmin</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/GameAdmin</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/NoteAdmin</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/UploadImageAdmin</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/UploadAudioAdmin</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/UploadVideoAdmin</url-pattern>
  </filter-mapping>
</web-app>